## Домашнее задание 2. Знакомство с Pandas
***Не оцениваются задания с удаленными/исправленными/закоменченными формулировками. Лучше всего ячейки с заданием не трогать, а создавать новые для своих экспериментов.***

Результат выполненной работы − отчет. Мы предпочитаем принимать отчеты в формате ноутбуков Jupyter (ipynb-файл). Постарайтесь сделать ваш отчет интересным рассказом, последовательно отвечающим на вопросы из заданий. Помимо ответов на вопросы, в отчете так же должен быть код, однако чем меньше кода, тем лучше всем: нам − меньше проверять, вам —  проще найти ошибку или дополнить эксперимент. При проверке оценивается четкость ответов на вопросы, аккуратность отчета и кода.

### О задании

Домашнее задание 2 направлено на работу с пакетом Pandas путём решения набора задач. В данном задании разрешено пользоваться только стандартной библиотекой языка Python, а также пакетом Pandas. Целью задания является дополнение данного jupyter notebook-a таким образом, чтобы были реализованы указанные в задании функции. Ответы на вопросы и свои мысли оформляйте в отдельных ячейках **Markdown**.

### Оценивание и штрафы

* Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи)
* Максимум за работу можно набрать 11 баллов, а **максимальная оценка за работу - 10 баллов**. То есть полный балл за работу можно набрать решив лишь часть заданий
* Сдавать задание после указанного срока сдачи нельзя
* «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов.
* Если вы нашли решение какого-то из заданий в открытом источнике, необходимо прислать ссылку на этот источник (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник)
* Не оцениваются задания с удалёнными формулировкам
* Не оценивается лабораторная работа целиком, если она была выложена в открытый источник

###  Правила сдачи

Работу необходимо отправить в систему ЦДПО МФТИ в соответствующее задание на странице курса.
**Дедлайн: 18 апреля 23:59. После этого времени работы не принимаются.**

### Примечание

В заданиях вам даны подсказки по выполнению. А также вам оставлен вывод работы кода авторского решения - вы можете смотреть на этот вывод и понимать, в правильном ли направлении вы движетесь при выполнении задания.

# Аналитика данных с Pandas

Загрузите таблицу с данными из ```articles.csv``` (для этого положите файл в ту же папку, в которой лежит этот Jupyter ноутбук и воспользуйтесь фукцией ```read_csv```)

In [1]:
from google.colab import files
files.upload()

Saving articles.csv to articles.csv

In [93]:
import pandas as pd
df = pd.read_csv('articles.csv')

Посмотрите на первые 5 строк датафрейма (метод ```head```)

In [3]:
df.head()

      id  ...                                            content
0  17283  ...  WASHINGTON  —   Congressional Republicans have...
1  17284  ...  After the bullet shells get counted, the blood...
2  17285  ...  When Walt Disney’s “Bambi” opened in 1942, cri...
3  17286  ...  Death may be the great equalizer, but it isn’t...
4  17287  ...  SEOUL, South Korea  —   North Korea’s leader, ...

[5 rows x 8 columns]

Определите количество строк и столбцов в датафрейме (атрибут `shape`)

In [4]:
df.shape

(50000, 8)

Посмотрите, в каких столбцах есть пропуски (используйте методы ```isnull``` и ```sum```)

In [5]:
df.isnull().sum()

id                0
title             0
publication       0
author         6306
date              0
year              0
month             0
content           0
dtype: int64

Видим, что в колонке ```author``` есть пропуски. 

Посчитайте, какая доля пропусков содержится в этой колонке (используйте методы ```isnull``` и ```mean```)

In [6]:
df.author.isnull().mean()

0.12612

Видим, что в колонке ```author``` 12% пропусков. Давайте удалим те строки, в которых пропущено значение в колонке ```author```

Для этого используйте функцию ```dropna```, которой в качестве аргумента можно передать параметр ```axis```, чтобы удалить строки или столбцы с пропусками.

Не забудьте, что чтобы сохранить результат удаления строк, нужно либо перезаписать датафрейм (```df = df.same_method()```), либо выставить в методе ```dropna``` параметр ```inplace=True```, который говорит о том, что операция будет производиться "на месте", то есть над самим объектом датафрейма, а не с его копией

In [94]:
df.dropna(axis=0, inplace=True)

Проверим размер датафрейма после удаления пропусков и убедимся, что в датафрейме теперь нет пропусков в данных

In [67]:
df.shape

(43694, 8)

In [9]:
df.isnull().sum()

id             0
title          0
publication    0
author         0
date           0
year           0
month          0
content        0
dtype: int64

Проделайте следующие базовые операции с датафреймами:

**Задача 1 (1 балл)** определите количество различных издательств в таблице и их имена (используйте для этого методы датафрейма ```unique``` или ```nunique```)

In [10]:
print("количество издательств:", len(df["publication"].unique()))

количество издательств: 5

In [13]:
df["publication"].unique()

array(['New York Times', 'Breitbart', 'CNN', 'Business Insider',
       'Atlantic'], dtype=object)

**Задача 2 (1 балл)** найдите количество опубликованных статей в отрезке с ```2016-06-03``` по ```2016-12-07``` (включая эти дни)

Для этого используйте фильтрацию по условию. С датами можно обращаться просто как со строками.

*Подсказка:* найдите строки c датой публикации ```>=``` стартовой даты и получите булеву маску. Аналогично получите булеву маску для второй даты. Затем с помощью операции ```&``` над двумя булевыми масками получите новый булев массив, в котором ```True``` будет стоять только у тех строк, у которых дата публикации попадает в желаемый отрезок. А затем используйте эту булеву маску как индексы датафрейма

При желании это все можно написать одной строкой

In [14]:
len(df[(df["date"] >= "2016-06-03") & (df["date"] <= "2016-12-07")])

15079

15079

**Задача 3 (1 балл)** Какое издание выпустило больше всего статей в 2016 году?

In [26]:
df[df["year"] == 2016]["publication"].value_counts().idxmax()

'Breitbart'

'Breitbart'

**Задача 4 (1 балл)** посчитайте количество статей автора *Tom Ciccotta* в каждом году

Для этого сначала отберите строки, в которых автором является *Tom Ciccotta*, а затем создайте счетчик из столбца ```year``` (для этого просто позовите метод ```value_counts()``` от столбца ```year```)

In [28]:
df[df["author"] == "Tom Ciccotta"]["year"].value_counts()

2017    132
2016    124
Name: year, dtype: int64

2017    132
2016    124
Name: year, dtype: int64

**Задача 5 (2 балла)** выпишите названия 3х первых статей автора *John Hayward* в 2016 году

*Подсказка:* после отбора статей по автору и году, не забудте отсортировать датафрейм по столбцу даты публикации.

*Подсказка:* срезы по строкам датафреймов работают так же, как срезы по спискам

In [43]:
df[(df["author"] == "John Hayward") & (df["year"] == 2016)].sort_values(['date'])["title"][:3]

16861    Indonesian Couple Beaten with Canes for Violat...
22041    Islamic State Claims Credit For Gun Attack On ...
27561    Protests Across India Against Saudi Execution ...
Name: title, dtype: object

array(['Indonesian Couple Beaten with Canes for Violating Sharia Law',
       'Islamic State Claims Credit For Gun Attack On Russian Tourists',
       'Protests Across India Against Saudi Execution of Shiite Cleric'],
      dtype=object)

**Задача 6 (2 балла)** Какой автор на сотом месте по количеству опубликованных статей? Сколько статей он опубликовал?

*Подсказка:* для подсчета встречаемости значений используйте метод ```value_counts```. Для доступа к индексам полученного после ```value_counts``` ```pd.Series``` используйте атрибут ```index```

In [44]:
df["author"].value_counts().index[99]

'Milo'

'Milo'

## Section_2

Еще одной важной частью работы с данными является **нормализация данных**.

Это особенно актуально при работе с данными в текством формате и при работе с данными из нескольких разнородных источников. Например, один и тот же номер телефона пользователя может записан в базах данных в разных форматах:

- `+7(918)123-45-67`
- `+7(918)1234567`
- `+79181234567`
- `+8(918)123-45-67`
- `8(918)1234567`
- `89181234567`

Поэтому важно нормализовывать данные, чтобы иметь возможность объединить все данные, которые относятся к одному реальному объекту. 

Именно нормализации данных при работе со строками будем учиться в следующей части домашней работы

## Работа со строками в датафрейме

Для датафреймов существуют методы работы со строковыми данными. Чтобы применить их, необходимо воспользоваться атрибутом ```str```, после чего вызвать нужные методы работы со строками. Например, вызов:

```df['content'].str.len() ```

подсчитает для каждой строчки в датафрейме количество символов в колонке content. Более подробную информацию про работу с текстовыми данными в Pandas можно найти, например, [здесь](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html).

**Задача 7 (1 балл)**

Найдите в датафрейме всех авторов, имя которых содержит ```Faith```. Выведите Series, состоящий из всех таких уникальных имен.

In [46]:
pd.Series(df[df.author.str.contains('Faith')].author.unique())

0     Faith Haleh Robinson
1             Faith Karimi
2     Faith Haleh Robinson
3            Faith Karimi,
4            Faith Karimi
5           Faith Karimi,
6             Faith Karimi
7            Faith Karimi
dtype: object

0     Faith Haleh Robinson
1             Faith Karimi
2     Faith Haleh Robinson
3            Faith Karimi,
4            Faith Karimi
5           Faith Karimi,
6             Faith Karimi
7            Faith Karimi
dtype: object

Как можно заметить, в таблице существует множество различных написаний имени Faith Karimi. В основном эти написания различаются пунктуацией - лишние пробелы и запятые. Для правильного подсчета статистик для текстовых данных зачастую возникает необходимость в их предобработке.

**Методы строк** можно вспомнить по этой ссылке: https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html

Проведите следующие преобразования для колонок ```author``` и ```content``` (**всего 2 балла**):

**Задача 8 (0.5 балла)** Приведение текста к нижнему регистру;

In [96]:
df["author"]=df["author"].str.lower()
df

          id  ...                                            content
0      17283  ...  WASHINGTON  —   Congressional Republicans have...
1      17284  ...  After the bullet shells get counted, the blood...
2      17285  ...  When Walt Disney’s “Bambi” opened in 1942, cri...
3      17286  ...  Death may be the great equalizer, but it isn’t...
4      17287  ...  SEOUL, South Korea  —   North Korea’s leader, ...
...      ...  ...                                                ...
49995  73465  ...  As chairman and CEO of ExxonMobil, Rex Tillers...
49996  73466  ...  I’ve spent nearly 20 years looking at intellig...
49997  73467  ...    Donald Trump will not be taking necessary st...
49998  73468  ...  Dozens of   colleges could be forced to close ...
49999  73469  ...  The force of gravity can be described using a ...

[43694 rows x 8 columns]

In [98]:
df["content"]=df["content"].str.lower()
df

          id  ...                                            content
0      17283  ...  washington  —   congressional republicans have...
1      17284  ...  after the bullet shells get counted, the blood...
2      17285  ...  when walt disney’s “bambi” opened in 1942, cri...
3      17286  ...  death may be the great equalizer, but it isn’t...
4      17287  ...  seoul, south korea  —   north korea’s leader, ...
...      ...  ...                                                ...
49995  73465  ...  as chairman and ceo of exxonmobil, rex tillers...
49996  73466  ...  i’ve spent nearly 20 years looking at intellig...
49997  73467  ...    donald trump will not be taking necessary st...
49998  73468  ...  dozens of   colleges could be forced to close ...
49999  73469  ...  the force of gravity can be described using a ...

[43694 rows x 8 columns]

,id,title,publication,author,date,year,month,content
0,17283,House Republicans Fret About Winning Their Hea...,New York Times,carl hulse,2016-12-31,2016,12,washington — congressional republicans have...
1,17284,Rift Between Officers and Residents as Killing...,New York Times,benjamin mueller and al baker,2017-06-19,2017,6,"after the bullet shells get counted, the blood..."
2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,margalit fox,2017-01-06,2017,1,"when walt disney’s “bambi” opened in 1942, cri..."
3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,william mcdonald,2017-04-10,2017,4,"death may be the great equalizer, but it isn’t..."
4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,choe sang-hun,2017-01-02,2017,1,"seoul, south korea — north korea’s leader, ..."

**Задача 9 (0.5 балла)** Удаление всей пунктуации из текста;

*Подсказка:* для вас уже создано начальное множество символов (достаточно ли его?). Символы надо исключить с помощью метода ```replace```

In [84]:
import string
punctuation = set(string.punctuation)
print(punctuation)
print(len(punctuation))

{'[', '|', '.', '>', '^', '#', '!', ';', '$', '{', '"', '%', '+', '}', '@', '=', ',', '\\', '_', '&', ']', '~', '(', ':', '/', "'", '*', ')', '?', '`', '<', '-'}
32

In [101]:
df["author"]=df["author"].str.replace('[^\w\s]','')
df["content"]=df["content"].str.replace('[^\w\s]','')
df

          id  ...                                            content
0      17283  ...  washington     congressional republicans have ...
1      17284  ...  after the bullet shells get counted the blood ...
2      17285  ...  when walt disneys bambi opened in 1942 critics...
3      17286  ...  death may be the great equalizer but it isnt n...
4      17287  ...  seoul south korea     north koreas leader kim ...
...      ...  ...                                                ...
49995  73465  ...  as chairman and ceo of exxonmobil rex tillerso...
49996  73466  ...  ive spent nearly 20 years looking at intellige...
49997  73467  ...    donald trump will not be taking necessary st...
49998  73468  ...  dozens of   colleges could be forced to close ...
49999  73469  ...  the force of gravity can be described using a ...

[43694 rows x 8 columns]

In [ ]:
# может работать несколько секунд
for delimiter in punctuation:
    
    # your code here

In [102]:
# пример того, что должно получиться после этого шага
df.content.loc[45926]

'back in the late 90s getting a startup big enough to get onto the stock market was the thing to do  now a market crash a great recession and a possible   burst later     investors are  and the public stock market is increasingly volatile still going public is often viewed as the end goal for ambitious young tech companies  heres how and why startups wind up on the stock market     and why  back in the late 90s getting a startup big '

**Задача 10 (0.5 балла)** Удаление пробелов в начале и конце строки; (воспользуйтесь готовым методом)

In [104]:
df["author"]=df["author"].str.strip()
df["content"]=df["content"].str.strip()

In [105]:
df.content.loc[45926]

'back in the late 90s getting a startup big enough to get onto the stock market was the thing to do  now a market crash a great recession and a possible   burst later     investors are  and the public stock market is increasingly volatile still going public is often viewed as the end goal for ambitious young tech companies  heres how and why startups wind up on the stock market     and why  back in the late 90s getting a startup big'

**Задача 11 (0.5 балла)** Замена подряд идущих пробелов одним пробелом.

In [106]:
df = df.replace('\s+', ' ', regex=True)

In [107]:
df.content.loc[45926]

'back in the late 90s getting a startup big enough to get onto the stock market was the thing to do now a market crash a great recession and a possible burst later investors are and the public stock market is increasingly volatile still going public is often viewed as the end goal for ambitious young tech companies heres how and why startups wind up on the stock market and why back in the late 90s getting a startup big'

После всего этого, например, строка ```"   It's 6 a.m. and I'm still doing this homework :((    "```

преобразуется в строку  ```its 6 am and im still doing this homework```


Снова найдите в датафрейме всех авторов, имя которых содержит faith. Проверьте, что теперь различные способы написания «схлопываются» в один.

In [108]:
pd.Series(df[df.author.str.contains('faith')].author.unique())

0    faith haleh robinson
1            faith karimi
dtype: object